/* Estilos Generales */
:root {
    --tittle-column: #498629d2;
    --color-base: #498629;
    --color-eliminar: #E03838;
    --background-color-editar: #0300b39f;
    --hover-background-editar: #08065a9f;
    --verde-shadow: rgba(43, 255, 0, 0.938);
    --border-color-input: #159109;
    --background-prestamo:#5ba433ed;
    --background-prestamo-hover:#17850d;
    --border-btn-prestamo:#0e616e;
    --background-color-verde: #0b7914;

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    margin-left: 180px;
    padding: 20px;
    margin-top: 50px;
    flex-grow: 1;
    background-color: var(--background);
}


/* Cambiar el color de fondo de las cabeceras */
.table th {
    background-color: var(--tittle-column);
    color: white;
}

/* Cambiar el color de las filas al pasar el cursor sobre ellas */
.table tbody tr:hover {
    background-color: #e1efda;
}

.table tbody tr:nth-child(even):hover {
    background-color: #e1efda;
}

/* Establecer el borde de las celdas */
.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Personalizar las filas alternadas */
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Cambiar el color de la paginación */
.dataTables_paginate .paginate_button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
}

.dataTables_paginate .paginate_button:hover {
    background-color: #0056b3;
}

table.dataTable tbody tr:hover {
    cursor: pointer;
}


/* Estilos para el modal */
.modal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Contenido del Modal */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    max-width: 600px;
    border-radius: 10px;
}

/* El botón de cerrar */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Estilos Contador */

.btn-clientes a {
    width: 12%;
    color: white;
    text-decoration: none;
    background-color: var(--tittle-column);
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 12px;
}

.btn-clientes a img {
    width: 30px;
    margin-right: 10px;
}

.btn-clientes a:hover {
    background-color: var(--color-base);
}

/* Estilos grupos contador */
.btn-grupos a {
    width: 12%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 12px;
}

.btn-grupos a span {
    text-align: center;
    justify-self: center;

}

.btn-eliminar {
    width: 30%;
    border: 1px solid #dfdede;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(9, 72, 9, 0.515);
    background-color: var(--color-eliminar);
}

.btn-agregar {
    background-color: var(--color-base);
}

.btn-agregar:hover {
    background-color: var(--tittle-column);
}

.btn-eliminar:hover {
    background-color: #c12c2c;
    box-shadow: 0px 0px 5px 0px rgba(40, 42, 40, 0.308);
    border: 1px solid #c12c2c;

}

/* Estilos reversion liquidacion contador */
.section {
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.382);
    width: 70%;
    justify-self: center;
    margin-top: 100px;
    background: #c1c0c0;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px rgba(9, 72, 9, 0.308);
}

.section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
}

.form-reversion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-reversion input {
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #f1f1f1;
}
.form-reversion input:hover{
    border-color: var(--verde-shadow);
    box-shadow: 0 0 5px var(--verde-shadow);
}

.section-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.section-container2 select {
    padding: 10px 18px;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-right: 30px;
}

.section-container2 a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: var(--color-base);
}

.section-container2 a:hover {
    background-color: var(--tittle-column);
    border-color: var(--verde-shadow);
    box-shadow: 0 0 5px var(--verde-shadow);
}

.form-container {
    display: flex;
    gap: 40px;
    /* Espacio entre columnas */
}

.btn-eliminarGrupo {
    width: 50%;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: var(--color-eliminar);
    color: white;
    padding: 10px 10px;
    box-shadow: 0px 0px 5px 0px rgba(40, 42, 40, 0.308);
}

.btn-eliminarGrupo:hover {
    background-color: #c12c2c;
    box-shadow: 0px 0px 5px 0px rgba(40, 42, 40, 0.308);
    border: 1px solid #c12c2c;
}

#custom-alert {
    background-color: #4CAF50;
    /* Verde */
    color: white;
    border-radius: 5px;
}

.btn-editar {
    width: 28%;
    border: 1px solid #dfdede;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(9, 72, 9, 0.515);
    background-color: var(--background-color-editar);
}

.btn-editar:hover {
    background-color: var(--hover-background-editar);
    box-shadow: 0px 0px 5px 0px rgba(40, 42, 40, 0.308);
    border: 1px solid #2c8ac1;

}

.btn-editar img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.btn-eliminar img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.close-btn1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn1:hover,
.close-btn1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Estilos para la vista desembolso de prestamos */
.btn-prestamo {
    color: white;
    text-decoration: none;
    background: var(--background-prestamo);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--border-btn-prestamo);
}

.btn-prestamo:hover {
    background-color: var(--background-prestamo-hover);
    border-color: var(--verde-shadow);
    box-shadow: 0 0 3px var(--verde-shadow);
}


/*ESTILOS PARA LA VISTA TRANSFERENCIA DE CARTERA */
.row-selected td {
    background-color: rgba(38, 165, 13, 0.101) !important;
    border: 1px solid rgba(255, 255, 255, 0.582) !important;
}
.contenedor {
    background: #f0f0f0;
    border-radius: 10px;
    max-width: 75%;
    padding: 6px; /* Espacio superior interno */
    margin-top: 40px;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.305);
    box-shadow: 0 0 5px var(--verde-shadow);
}

.tittle h2{
    margin-left: 15px;
    
}
.contain-option{
    max-width: 100%;
    display: flex;
    gap: 0px;

}
.option {
    display: flex;
    align-items: center; /* Opcional, para alinear verticalmente */
    gap: 10px; /* Ajusta según el espacio deseado */
}
.option span{
    margin-left: 15px;
}
.option select{
    width: 200px;
    margin-left: 0px;
    border-radius: 4px;
    height: 30px;
    margin-right: 10px;
}
.contenedor-conteo{
    display: flex;
    max-width: 100%;
    margin: 40px 15px 60px 15px;
    gap: 40px;
}
.conteo input{
    width: 80px;
    border-radius: 4px;
    height: 24px;
    margin-left: 10px;
}
.contenedor input:hover{
    box-shadow: 0 0 5px var(--verde-shadow);
}   
.contenedor select:hover{
    box-shadow: 0 0 5px var(--verde-shadow);
}
.contenedor .table1{
    margin-top: 10px;
}
.tabla{
    margin: 0px 15px 0px 15px;
}
.contenedor-footer{
    display: flex;
    margin: 40px 15px 30px 15px;
    width: 100%;
    justify-content: space-between;
}
.botones{
margin-right: 30px;
}
.botones button img {
    width: 35px;
    height: 35px;
}
.btn-guardar {
    background: var(--background-color-verde);
    padding: 5px 25px;
    border-radius: 4px;
    color: var(--color-font);
    text-decoration: none;
    border: 1px solid black;
}
.btn-guardar:hover {
    background: #03880e;
    box-shadow: 0 0 5px var(--verde-shadow);
}
